{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card text-center">
        <div class="card-header"><b>{{producto.nombre}}</b></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Precio: {{producto.precio}}</li>
          <li class="list-group-item">
            Cada cuantos días se debe pedir: {{producto.cadaCuantosDias}}
          </li>
          <li class="list-group-item">
            Cantidad de productos por orden: {{producto.cantidadPorOrden}}
          </li>
          <li class="list-group-item">
            Último Pedido: {{producto.ultimoPedido}}
          </li>
          <li class="list-group-item">
            Nombre proveedor: {{producto.proveedor.nombre}}
          </li>
          <li class="list-group-item">
            Dirección proveedor: {{producto.proveedor.direccion}}
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-light"
              href="{% url 'pedirProducto' producto.id  %}"
              >Pedir
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-3">
        <form
          action="{% url 'borrarPedido' producto.id %}"
          method="post"
          style="display: inline-block"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Borrar Pedido</button>
        </form>
        <form
          action="{% url 'duplicarPedido' producto.id %}"
          method="post"
          style="display: inline-block"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Duplicar Pedido</button>
        </form>

        <a href="{% url 'editarPedido' producto.id %}" class="btn btn-light">
          Editar Pedido
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
